@import url("https://fonts.googleapis.com/css?family=Oswald");
#map {
  display: block;
  display: none;
  margin: auto;
  margin-top: 7vh;
  height: 50%;
  width: 50%;
}
#map.show {
  display: block;
}
html,
body {
  background-color: #5cdb95;
  background-image: url("/img/1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
  height: 100%;
  margin: 0;
  padding: 0;
}
body.newbg {
  background-image: url();
}
.button {
  width: 20vh;
  font-family: Oswald;
  background-color: #05386b;
  border-radius: 6px;
  margin-left: 50%;
  color: #edf5e1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin: auto;
  margin-top: 10vh;
  cursor: pointer;
}

#button2 {
  display: none;
  position: absolute;
  width: 10vh;
  font-family: Oswald;
  background-color: #05386b;
  border-radius: 6px;
  color: #edf5e1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  /* margin: auto; */
  cursor: pointer;
  right: 3vh;
  top: 1vh;
}
#button2.show2 {
  display: block;
}

#sidebox {
  visibility: hidden;
  position: absolute;
  width: 30vh;
  height: auto;
  border: 5px solid red;
  right: 3vh;
  top: 5vh;
}
#sidebox.show{
visibility: visible;
}
